@font-face {
    font-family: circe;
    font-style: normal;
    font-weight: 400;
    src: local('Circe'), url(https://fonts.cdnfonts.com/s/13503/CRC55.woff) format('woff')
}

@font-face {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 400;
    src: local('Gilam'), url('https://fonts.cdnfonts.com/s/37285/GilamBook.woff') format('woff');
}

@font-face {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    src: local('Gilam'), url('https://fonts.cdnfonts.com/s/37285/GilamRegular.woff') format('woff');
}

@font-face {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 600;
    src: local('Gilam'), url('https://fonts.cdnfonts.com/s/37285/GilamSemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    src: local('Gilam'), url('https://fonts.cdnfonts.com/s/37285/GilamBold.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/header-bg.png);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.head {
    margin: 0 auto;
    width: 1460px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-link {
    color: #E4B564;
    display: flex;
    border: 1px solid #E4B564;
    align-items: center;
    padding: 10px 25px;
    text-decoration: none;
}

.button-head {
    font-family: 'Circe';
    font-weight: 400;
    padding-left: 8px;
}

.title {
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.text-subtitle {
    line-height: 28px;
    color: #FFFFFF;
}

.content {
    width: 1460px;
    margin: 0 auto;
    margin-top: 120px;
}

.grid-content {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(468px, auto);
    gap: 30px;
    margin-bottom: 160px;
}

.grid-content-item:first-child {
    background: #634F2C;
    grid-column: span 2;
}

.grid-content-item:nth-child(2) {
    background: #B4A385;
    grid-column: span 2;
    padding: 0px 44px;
}

.grid-content-item:nth-child(3) {
    background: #E4B564;
    grid-column: span 2;
}

.grid-content-item:nth-child(4) {
    background: #635A4A;
    grid-column: span 3;
}

.grid-content-item:nth-child(5) {
    background: #B08C4D;
    grid-column: span 3;
}

.grid-content-item {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 28px;
    color: #FFFFFF;
}


.grid-block-content {
    display: grid;
    height: 900px;
    grid-template: repeat(8, 1fr)/repeat(6, 1fr);
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 190px;
}

.grid-block-content-item:first-child {
    background: #0E0E0E;
    grid-column: 1/3;
    grid-row: 1/4;
    padding: 50px;
    color: #FFFFFF;
}

.grid-block-content-item:nth-child(2) {
    background: #242424;
    grid-column: 3/5;
    grid-row: 1/5;
    padding: 50px;
    color: #FFFFFF;
}

.grid-block-content-item:nth-child(3) {
    background: #1F1F1F;
    color: #FFFFFF;
    grid-column: 5/7;
    grid-row: 1/4;
    padding: 50px;
    font-weight: 500;
}

.grid-block-content-item:nth-child(4) {
    background: #1F1F1F;
    grid-column: 1/3;
    grid-row: 4/9;
    padding: 50px;
    font-weight: 500;
    color: #FFFFFF;
}

.grid-block-content-item:nth-child(5) {
    background: #0A0909;
    grid-column: span 2;
    grid-row: 4/7;
    padding: 50px;
    font-weight: 500;
    color: #FFFFFF;
}

.grid-block-content-item:nth-child(6) {
    background: #0A0909;
    grid-column: span 2;
    grid-row: span 2;
    padding: 50px;
    color: #FFFFFF;

}

.grid-block-content-item:nth-child(7) {
    background: #E4B564;
    grid-column: span 2;
    grid-row: 5/9;
    color: #000000;
    font-weight: 500;
    padding: 50px;
}

.container {
    background-image: url(./img/parallax-bg.jpeg);
    margin-bottom: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.box-container {
    margin: 0 auto;
    width: 1460px;
    padding-top: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.button-container {
    font-family: 'Circe';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    text-decoration: none;
    border: 1px solid #E4B564;
    padding: 10px 40px;
}

.title-container {
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.grid-container {
    width: 1460px;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(2, 404px)/repeat(3, 1fr);
}

.box-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-image:first-child {
    background: #634F2C;
}

.box-image:nth-child(2) {
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    background: rgba(232, 210, 171, 0.76);
    padding: 0 80px;
}

.box-small-text {
    font-weight: 400;
    color: #FFFFFF;
}

.box-image:nth-child(3) {
    background: #E4B564;
}

.box-image:nth-child(4) {
    background: #635A4A;
}

.box-image:nth-child(5) {
    background: #B08C4D;
}

.box-image:nth-child(6) {
    background: #634F2C;
}